
.content-interface {
    display: flex;
}

.content-interface__sidebar {
    border-right: 1px solid var(--border-content);
    height: 100%;
    width: 180px;
    flex-shrink: 0;
}

.content-interface__field {
    position: relative;
    height: 100%;
    background: var(--bg-editor);
    width: 100%;
}

.sidebar__item {
    user-select: none;
    border-bottom: 1px solid var(--border-content);
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    cursor: default;
}

.item__icon {
    width: 30px;
    height: 20px;
    background: var(--bg-draggable);
    border: 1px dashed var(--border-draggable);
    margin-right: 10px;
}

.field__elem {
    position: relative;
    display: flex;
    user-select: none;
    position: absolute;
    width: 150px;
    height: 100px;
    /* outline: 1px solid var(--border-inactive) !important; */
    background: var(--bg-draggable);
    z-index: 999;
    overflow: hidden;
}

.field__elem_selected {
    outline: 1px dashed var(--border-draggable) !important;
    z-index: 1000;
}

.elem__id {
    font-size: 0.8em;
    position: absolute;
    right: 4px;
    bottom: 2px;
}

