
.content-interface {
    display: flex;
}

.content-interface__sidebar {
    border-right: 1px solid var(--border-content);
    height: 100%;
    width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;
}

.content-interface__field {
    position: relative;
    height: 100%;
    background: var(--bg-editor);
    width: 100%;
    overflow: hidden;
}

.sidebar__item {
    user-select: none;
    border-bottom: 1px solid var(--border-content);
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    cursor: default;
}

.item__icon {
    width: 30px !important;
    height: 20px !important;
    background: var(--bg-draggable);
    border: 1px dashed var(--border-draggable) !important;
    margin-right: 10px !important;
    padding: 0 !important;
}

.field__elem {
    position: relative;
    display: flex;
    user-select: none;
    position: absolute;
    width: 150px;
    height: 100px;
    /* outline: 1px solid var(--border-inactive) !important; */
    background: var(--bg-draggable);
    z-index: 999;
    overflow: hidden;
    min-width: 25px;
    min-height: 25px;
}

.field__elem_selected {
    outline: 1px dashed var(--border-draggable) !important;
    z-index: 1000;
}

.elem__id {
    font-size: 0.8em;
    position: absolute;
    right: 4px;
    bottom: 2px;
}

.sidebar__menu {
    user-select: none;
    border-top: 1px solid var(--border-content);
    margin-bottom: 10px;
}

.sidebar__menu_hidden {
    display: none;
}

.sidebar__menu > div {
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    height: 35px;
    border-bottom: 1px solid var(--border-content);
    font-family: sans-serif;
}

.sidebar__menu > div:last-child {
    border-bottom: none !important;
}

.menu__input > input {
    width: 70px;
    height: 25px;
    background: var(--bg-editor);
    border-bottom: 2px solid var(--border-inacive);
    box-sizing: border-box;
    padding: 0 8px;
}

.menu__buttons {
    padding: 10px 10px 0 !important;
    box-sizing: content-box !important;
    justify-content: center !important;
    grid-gap: 10px;
}

.menu__buttons > .button {
    flex-grow: 1;
}

.menu__input > label {
    font-size: 15px !important;
}

.menu-input {
    font-size: 15px;
}

.menu__title {
    font-weight: bold;
    justify-content: center !important;
}



