<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Уроки</title>
    <link rel="stylesheet" href="{% static 'css/courses.css' %}">
</head>
<body>
<div class="lessons">
    <p>Уроки</p>
</div>
<ul id="ul_top_hypers">
    {% for m in lessons %}
    <li>
        <div class="card">
            <h2>{{ m.name }}</h2>
            <a class="course" href="{{m.get_url}}">Пройти</a>
            <p></p>
        </div>
    </li>
    {% endfor %}
</ul>
<div class="back">
    <p>Вернуться к курсам</p>
    <button class="course" onclick="goBack()">Назад</button>
</div>
</body>
<script>
    function goBack() {
        window.history.back();
    }
</script>
</html>