<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Задания</title>
        <link rel="stylesheet" href="{% static 'css/tasks.css' %}">

</head>
<body>
<h1>Задания</h1>
<ul id="ul">
    {% for m in tasks %}
    <li>
        <div class="card">
            <h2>{{ m.name }}</h2>
            <a class="course" href="{{m.get_url}}">Пройти</a>
            <p></p>
        </div>

    </li>
    {% endfor %}
</ul>
<div class="back">
    <p>Вернуться к урокам</p>
    <button class="course" onclick="goBack()">Назад</button>
</div>
</body>
<script>
    function goBack() {
        window.history.back();
    }
</script>
</html>