<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Управление задания</title>
</head>
<body>
<h1>Управление задания</h1>

<div>
    <p>Название задания</p>
</div>
<div>
    <input type="text" id="task-name-input">
    <button id="add-task-btn">Добавить задание</button>
</div>

{% for m in tasks %}
<div>
    <p>{{ m.name }}</p>
    <div>
        <a href=""> Управление </a>
        <div>
            <button id="delete_task_btn"> Удалить </button>
        </div>
    </div>
</div>
{% endfor %}
{% csrf_token %}
<script>
    const add_task_button = document.getElementById('add-task-btn');
    const csrf_token = document.getElementsByName('csrfmiddlewaretoken')[0].value;
    const task_name = document.getElementById('task-name-input');
    console.log(csrf_token);
    add_task_button.addEventListener('click', async _ => {
      try {
        const response = await fetch('', {
          method: 'post',
          headers: {'X-CSRFToken': csrf_token},
          body: JSON.stringify({
            'name': task_name.value
          })
        });
        console.log('Completed!', response);
      } catch(err) {
        console.error(`Error: ${err}`);
      }
    });
    const del_task_button = document.getElementById('delete_task_btn');
    del_task_button.addEventListener('click', async _ => {
      try {
        const response = await fetch('', {
          method: 'delete',
          headers: {'X-CSRFToken': csrf_token},
          body: JSON.stringify({
            'name': name.value
          })
        });
        console.log('Completed!', response);
      } catch(err) {
        console.error(`Error: ${err}`);
      }
    });
</script>
</body>
</html>